:root {
  --top-bar-height: 4em;
  --list_gap: 2em;
  --list_gap_inv: -2em;
  --list-height: 48em;
}

/* || GENERAL STYLES */

body {
  margin-top: var(--top-bar-height); /* reserve space for the top bar */
}

#headimg {
  display: block;
  margin: 1em auto 0 auto;
  width: 100%;
  box-sizing: border-box;
}

/* TOP BAR */
#top-bar {
  position: fixed;
  left:0;
  top: 0;
  z-index: 2; /* make top bar show on top */

  overflow: auto;
}

#top-bar > ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#top-bar > ul > li {
  display: inline-block;
  position: relative;
}

#signup, #logout {
  float: right;
}

#logout > li {
  display: inline-block;
  position: relative;
}

#signup a + a {
  padding-left: 1em;
}

#logout * + * {
  padding-left: 1em;
}

/* HEADERS */
h1 {
  margin-top: 0.2em;
  text-align: center;
}

/* LIST */
.list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 0 0 var(--list_gap_inv); /* wait until gap is more wildely spread */
  width: calc(100% + var(--list_gap));

  /* have scroll */
  max-height: var(--list-height); /* TODO var */
  overflow: auto;
}

.list > * {
  margin: var(--list_gap) 0 0 var(--list_gap); /* wait until gap is more wildely spread */
}

.list-item {
  display: inline;
}

.list-item-content {
  margin: 0;
  padding: 0;
}
