#headimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1 {
  text-align: center;
}

/* MENU */
#menu > ul > li {
  display: inline-block;
  position: relative;
}

#menu > ul > li + li {
  padding-left: 1em;
}
