:root {
  --fonts: helvetica, sans-serif;

  --background: #202124;
  --background-dark: #161616;
  --main: #cfd3d8;
  --green: #5d8d79;
  --red: #b94642;
  --darkGreen: #2f5e4a;
  --orange: #8d645d;
  --dark: #121212;
  --light: #3c4042;

  --petpost-img-size: 18em;
}

body {
  font-family: var(--fonts);
  color: var(--main);
  background-color: var(--background);
}

a {
  color: var(--main);
  font-weight: bold;
}

p {
  width: 60em;
}

#headimg {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

/* HEADERS */
h1 {
  color: var(--orange);
  font-size: 3em;
  font-weight: normal;
}

h2 {
  font-size: 1.7em;
  font-weight: normal;
}

h1 a,
h2 a,
h3 a,
h4 a {
  color: inherit;
  text-decoration: none;
}

/* MENU */
#top-bar {
  font-weight: bold;

  width: 100%;
  padding: 1em;
  box-sizing: border-box;

  background-color: var(--dark);
}

#top-bar a {
  text-decoration: none;
}

#top-bar > li {
  list-style-type: none;
}

#menu {
  font-size: large;
}

#menu > li + li {
  margin-left: 3em;
}

#menu > li > a:hover,
#signup a:hover {
  color: var(--green);
}

#signup,
#logout {
  font-size: small;
}

#logout {
  font-weight: normal;
}

.addpost-button input[type="submit"] {
  /* add post button */
  border: none;
  border-radius: 100%;

  color: var(--main);
  background-color: var(--background-dark);
  box-shadow: 0 -0.1em 0.5em 0 rgba(0, 0, 0, 0.8); /* the edgehog */

  font-weight: bold;
}

.addpost-button input[type="submit"]:hover {
  color: var(--dark);
  background-color: var(--green);
}

.logout-button input[type="submit"] {
  border: none;
  border-radius: 10px;

  color: var(--red);
  background-color: var(--dark);

  font-weight: bold;
}

.logout-button input[type="submit"]:hover {
  /* color: var(--green); */
  background-color: var(--background-dark);
  box-shadow: 0 -0.1em 0.5em 0 rgba(0, 0, 0, 0.8); /* the edgehog */
  display: inline-block;
}

/* LIST */
.list-item {
  color: var(--main);
  background-color: var(--dark);
  border: 2px solid var(--light);

  text-decoration: none;
  text-align: center;
  font-weight: bold;

  border-radius: 14px;
}

.list-item:hover {
  border-color: var(--green);
}

.list-item-content li {
  list-style-type: none;
}

.list-item-img div {
  width: 16em;
  height: 16em;

  border-radius: 12px 12px 0px 0px;
  background-size: contain;
}

.list-item-txt {
  /* image's description */
  padding: 0.5em;
  font-size: 1.5em;

  margin-top: -0.3em; /* TODO this might be problematic */

  /* make this part stand out */
  background-color: var(--dark); /* hide part of the image that overflows */
  box-shadow: 0 -0.1em 0.5em 0 rgba(0, 0, 0, 0.8); /* the edgehog */
  /* inner border to make this section thicker */
  border: 2px solid var(--light);
  border-radius: 0px 0px 12px 12px;
}

/* LIST FORM */
.listfilter {
  text-align: center;
  margin-bottom: 1em; /* gives space for the list */
}

.listfilter-item {
  width: 12%; /* important */
}

.listfilter-item + .listfilter-item {
  margin-left: 2em;
}

.listfilter-button {
  margin-top: 1em;
  width: 8em; /* important */
}

#showmoreButton {
  padding: 0.7em 2em;
  margin-top: 3em;

  border-radius: 20px;
  border: none;

  background-color: var(--green);
  color: var(--background);
  font-size: large;
  font-weight: bold;
}

#showmoreButton:hover {
  background-color: var(--darkGreen);
}

/* POST PAGE */
.petpost-page {
  margin-left: 1em;
}

.petpost {
  margin-top: 1em;
  margin-bottom: 2em;
}

.petpost-img {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  border: solid var(--green) 2px;
  box-shadow: 0 -0.1em 0.5em 0 rgba(0, 0, 0, 0.8); /* the edgehog */
  border-radius: 12px;
  background-color: var(--dark);
}

.petpost-img button {
  position: absolute;
  display: inline;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;
  color: goldenrod;
  font-size: xx-large;
}

.petpost-img div {
  width: var(--petpost-img-size);
  height: var(--petpost-img-size);

  border-radius: 12px;
  background-size: contain;
}

.petpost-info {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 1em;
  padding: 0;

  font-size: 1.4em;
}

.petpost-info li {
  list-style-type: none;
}

.petpost-info li + li {
  list-style-type: none;
  margin-top: 0.5em;
}

/* POST PAGE DESCRIPTION + COMMENTS */
.petpost-description,
.petpost-question,
.petpost-answer {
  display: inline-block;
  margin-left: 1em;
  padding: 0.3em 1em;
  box-sizing: border-box;

  border-radius: 10px;
}

.petpost-answer {
  margin-left: 10em;
}

.petpost-description:hover,
.petpost-question:hover,
.petpost-answer:hover {
  background-color: var(--background-dark);
}

.petpost-description {
  background-color: var(--dark);
}

.petpost-question {
  margin-bottom: 1em;

  background-color: var(--light);
}

.petpost-answer {
  margin-bottom: 1em;

  background-color: var(--dark);
}

.petpost-question p + p,
.petpost-answer p + p {
  /* date + author */
  margin-top: 2em;
  width: 100%;

  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  font-style: italic;
}

/* AUTH FORMS */
.signupform {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.signupform-item {
  max-width: 40em; /* important */
}

.signupform-item + .signupform-item {
  margin-top: 2em;
}

.signupform-button {
  margin-top: 2em;
  width: 8em; /* important */
}

/* FORMS */
.form-item {
  position: relative;
  display: inline-block;

  text-align: left;
}

.form-item > label {
  position: absolute;
  bottom: 100%;
  left: 0;

  font-weight: bold;
}

.form-item > input,
.form-item > select {
  border: none;
  width: 100%; /* important */
  padding: 0.7em;
  box-sizing: border-box;

  background-color: var(--light);
  color: var(--main);
  font-weight: bold;
}

#question-input {
  width: 80%;
  margin-left: 1em;
  padding: 0.2em 1em;
}

#question-input textarea { /*Comment text input*/
  resize: vertical;

  background-color: var(--light);
  width: 87%;
  margin: 0;

  color: white;
  font-size: 1.5em;

  border-radius: 12px;
  float: left;
}

#question-input-button { /*Comment text input button*/
  background-color: var(--light);
  width: 9%;
  margin: 0.5em;

  color: white;
  font-size: 1.5em;

  border-radius: 12px;
}

/* * {
  border: solid orange 1px;
} */
.form-button {
  padding: 0.7em;
  box-sizing: border-box;

  border: none;
  border-radius: 20px;

  background-color: var(--green);
  color: var(--background);

  text-align: center;
  font-weight: bold;
  font-size: large;
}

.form-button:hover {
  background-color: var(--darkGreen);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.3); /* the edgehog */
}

/* * { */
/* border: solid orange 1px; */
/* } */
