:root {
  --fonts: helvetica, sans-serif;

  --background: #202124;
  --main: #cfd3d8;
  --green: #5d8d79;
  --darkGreen: #2f5e4a;
  --orange: #8d645d;
  --dark: #121212;
  --light: #3c4042;
}

body {
  background-color: var(--background);
  font-family: var(--fonts);
  color: var(--main);
}

/* HEADERS */
h1 {
  color: var(--orange);
  font-size: 3em;
  font-weight: normal;
}

h1 a,
h2 a,
h3 a,
h4 a {
  color: inherit;
  text-decoration: none;
}

/* MENU */
#menu > ul {
  padding: 0;
  margin: 0;
}

#menu > ul > li {
  list-style-type: none;
}

/* LIST */
.list-item {
  color: var(--main);
  border: 2px solid var(--background);

  text-decoration: none;
  text-align: center;
  font-weight: bold;

  border-radius: 14px;
}

.list-item:hover {
  border-color: var(--green);
}

.list-item-content li {
  list-style-type: none;
}

.list-item-content li img {
  width: 16em;
  height: 16em;

  border-radius: 12px 12px 0px 0px;
}

.list-item-content li + li {
  padding: 0.5em;
  font-size: 1.5em;

  margin-top: -0.3em; /* TODO this might be problematic */
  border: 4px solid var(--main);
  border-top: none;
  border-radius: 0px 0px 12px 12px;
}

/* LIST FORM */
.listfilter {
  text-align: center;
}

.listfilter input {
  padding: 0.7em;
  border: none;
  width: 10%; /* important */

  background-color: var(--light);
  color: var(--main);
  font-weight: bold;
}

.listfilter input + input {
  margin-left: 2em;
}

.listfilter input[type=submit] {
  margin-top: 1em;
  text-align: center;

  border-radius: 20px;

  background-color: var(--green);
  color: var(--background);
  font-size: large;
}

.listfilter input[type=submit]:hover {
  background-color: var(--darkGreen);
}

#showmoreButton {
  padding: 0.7em 2em;
  margin-top: 3em;

  border-radius: 20px;
  border: none;

  background-color: var(--green);
  color: var(--background);
  font-size: large;
  font-weight: bold;
}

#showmoreButton:hover {
  background-color: var(--darkGreen);
}
