:root {
  --fonts: helvetica, sans-serif;

  --background: #202124;
  --background-dark: #161616;
  --main: #cfd3d8;
  --green: #5d8d79;
  --red: #b94642;
  --darkGreen: #2f5e4a;
  --orange: #8d645d;
  --dark: #121212;
  --light: #3c4042;

  --button-corner-radius: 2em;

  --items-text-corner-radius: 0.6em;
  --comment-corner-radius: 0.6em;

  --petimage-corner-radius: 1em;
  --petimage-corner-radius-inner: 0.85em;
  --petimage-size: 16em;
  --petpost-img-size: 18em;
}

/* || GENERAL STYLES */

body {
  font-family: var(--fonts);
  color: var(--main);
  background-color: var(--background);
}

p {
  width: 80%;
  max-width: 60em;
}

/* headers */
h1 {
  color: var(--orange);
  font-size: 3em;
  font-weight: normal;
}

h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* links */
h1 a,
h2 a,
h3 a,
h4 a {
  color: inherit;
  text-decoration: none;
}

a {
  color: var(--main);
  font-weight: bold;
}

/* inputs */
button,
input[type="submit"] {
  border: none;
  border-radius: var(--button-corner-radius);

  color: var(--main);
  background-color: var(--background-dark);
  text-align: center;
}

button:hover,
input[type="submit"]:hover {
  color: var(--green);
  background-color: var(--dark);
}

.rejbutton:hover {
  color: var(--red) !important;
}

.hoverable:hover {
  color: var(--green);
}

textarea {
  resize: none;

  margin: 0;
  padding: 1em;

  border-radius: 0.5em;

  font-size: x-large;
}

/* || UTILITIES */

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nounderline {
  text-decoration: none;
}

/* || SITEWIDE */

#headimg {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

.petimage {
  border-radius: var(--petimage-corner-radius);
  background-color: var(--dark);
}

.petimage div {
  width: var(--petimage-size);
  height: var(--petimage-size);

  /* the inner corner radius needs to be smaller than the outer
   otherwise the image won't cover the corners */
  border-radius: var(--petimage-corner-radius);
  background-size: contain;
}

/* || TOPBAR */
#top-bar-toggle,
#top-bar-toggle-label {
  display: none;
  float: right;
}

#top-bar {
  font-weight: bold;

  width: 100%;
  padding: 1em;
  box-sizing: border-box;

  background-color: var(--dark);
}

#menu {
  font-size: large;
}

#menu > li + li {
  margin-left: 1.5em;
}

#menu > li > a:hover,
#auth a:hover {
  color: var(--green);
}

#auth,
#authlogin {
  font-size: small;
  background-color: var(--dark); /* useful for responsive (floating menu) */
}

#authlogin {
  font-weight: normal;
}

.topbar-button input[type="submit"] {
  /* add post button */
  border-radius: 20em;

  background-color: var(--background-dark);
  box-shadow: 0 -0.1em 0.5em 0 rgba(0, 0, 0, 0.8); /* the edgehog */

  font-weight: bold;
}

.topbar-button input[type="submit"]:hover {
  color: var(--dark);
  background-color: var(--green);
}

#logout-button input[type="submit"] {
  color: var(--red);
  background-color: var(--dark);

  font-weight: bold;
}

#logout-button input[type="submit"]:hover {
  display: inline-block;

  background-color: var(--background-dark);
  box-shadow: 0 -0.1em 0.5em 0 rgba(0, 0, 0, 0.8); /* the edgehog */
}

/* || FORM */
.verticalform {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.form-item {
  position: relative;
  display: inline-block;

  text-align: left;
}

.form-item > label {
  position: absolute;
  bottom: 100%;
  left: 0;

  font-weight: bold;
}

.form-item > input,
.form-item > select {
  border: none;
  width: 100%; /* important */
  padding: 0.7em;
  box-sizing: border-box;

  background-color: var(--light);
  color: var(--main);
  font-weight: bold;
}

.form-button {
  padding: 0.7em;
  box-sizing: border-box;

  background-color: var(--green);
  color: var(--background);

  font-weight: bold;
  font-size: large;
}

.form-button:hover {
  background-color: var(--darkGreen);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.3); /* the edgehog */
}

/* || SEARCH PAGE */
.list-item {
  position: relative;

  border: 2px solid var(--light);
  border-radius: var(--petimage-corner-radius);

  text-align: center;
  font-weight: bold;
}

.list-item:hover {
  border-color: var(--green);
}

.list-item-img {
  /* the inner corner radius needs to be smaller than the outer
   otherwise the image won't cover the corners */
  border-radius: var(--petimage-corner-radius-inner)
    var(--petimage-corner-radius-inner) 0 0 !important;
}

.list-item-txt {
  /* image's description */
  margin-top: -0.3em; /* TODO this might be problematic */
  padding: 0.5em;
  font-size: x-large;

  /* inner border to make this section thicker */
  border: 2px solid var(--light);
  border-radius: 0 0 var(--items-text-corner-radius)
    var(--items-text-corner-radius);

  /* make this part stand out */
  background-color: var(--dark); /* hide part of the image that overflows */
  box-shadow: 0 -0.1em 0.5em 0 rgba(0, 0, 0, 0.8); /* the edgehog */
}

/* || LIST FORM */
.listfilter {
  text-align: center;
  margin-bottom: 1em; /* gives space for the list */
}

.listfilter-item {
  width: 12%; /* important */
}

.listfilter-item + .listfilter-item {
  margin-left: 2em;
}

.listfilter-button {
  margin-top: 1em;
  width: 8em; /* important */
}

/* || POST PAGE */
.petpost-page {
  margin-left: 1em;
}

.petpost {
  margin-top: 1em;
  margin-bottom: 2em;
}

.petpost-img {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  border: solid var(--green) 2px;
  box-shadow: 0 -0.1em 0.5em 0 rgba(0, 0, 0, 0.8); /* the edgehog */
}

.petpost-img div {
  width: var(--petpost-img-size);
  height: var(--petpost-img-size);

  border-radius: var(--petimage-corner-radius-inner);
  background-size: contain;
}

#favourite-star {
  position: absolute;
  display: inline;
  top: 0;
  right: 0;
  background-color: transparent;
  color: goldenrod;
  font-size: xx-large;
}

.petpost-info {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 1em;
  padding: 0;

  font-size: x-large;
}

.petpost-info li + li {
  margin-top: 0.5em;
}

/* || POST PAGE DESCRIPTION + COMMENTS */
.petpost-description:hover,
.petpost-question:hover,
.petpost-answer:hover {
  background-color: var(--background-dark);
}

.petpost-description,
.petpost-question,
.petpost-answer {
  display: inline-block;
  margin-left: 1em;
  margin-bottom: 1em;
  padding: 0.3em 1em;
  box-sizing: border-box;

  width: 80%;
  max-width: 60em;

  border-radius: var(--comment-corner-radius);
}

.petpost-description {
  background-color: var(--dark);
}

.petpost-answer {
  margin-left: 10em;
  background-color: var(--dark);
}

.petpost-question {
  background-color: var(--light);
}

.petpost-question p + p,
.petpost-answer p + p {
  /* date + author */
  margin-top: 2em;
  float:right;

  text-align: right;
  font-weight: bold;
  font-size: small;
  font-style: italic;
}

/* || PROFILE FORMS */
#profileform {
  margin-top: 3em;
}

.profileform-item {
  max-width: 40em; /* important */
}

.profileform-item + .profileform-item {
  margin-top: 2em;
}

.profileform-button {
  margin-top: 2em;
  width: 10em; /* important */
}

/* FORMS */
.form-item {
  position: relative;
  display: inline-block;

  text-align: left;
}

.form-item > label {
  position: absolute;
  bottom: 100%;
  left: 0;

  font-weight: bold;
}

.form-item > input,
.form-item > select {
  border: none;
  width: 100%; /* important */
  padding: 0.7em;
  box-sizing: border-box;

  background-color: var(--light);
  color: var(--main);
  font-weight: bold;
}

#question-input,
.answer-input {
  margin-top: 1em;
  margin-left: 1em;
  width: 60em;
}

#question-input-ta,
#question-input-button,
#answer-input-button,
.answer-text-area {
  display: inline-block;

  border: none;
  vertical-align: middle;

  color: var(--main);
  background-color: var(--light);
}

#question-input-ta,
.answer-text-area {
  width: 80%;
}

#question-input-button,
#answer-input-button {
  /*Comment text input button*/
  font-size: large;
  padding: 0.3em;
}

#question-input-button:hover,
#answer-input-button:hover {
  background-color: var(--dark);
}

/* || ADDPOST FORM */
.addpostform {
  margin-top: 3em;
}

.addpostform-item {
  max-width: 40em; /* important */
}

.addpostform-item + .addpostform-item {
  margin-top: 2em; /* important */
}

.addpostform-button {
  margin-top: 2em;
  width: 8em; /* important */
}

/* || Profile */
#profile {
  margin-left: 1em;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "pf-pic pf-posts"
    "pf-info pf-posts"
    "pf-options pf-posts";
}

#profile-pic {
  grid-area: pf-pic;
}

#profile-pic img {
  width: 100%;
  max-width: 20em;
  height: auto;
}

#profile-info {
  grid-area: pf-info;
  padding: 1em;
}

#profile-options {
  grid-area: pf-options;
  padding: 1em;
}

#profile-posts {
  grid-area: pf-posts;
  padding: 1em;

  background-color: var(--background-dark);
  border-radius: var(--button-corner-radius);
}

/* Confirmation Bar */
#confirmationBar {
  font-weight: bold;

  width: 100%;
  padding: 1em;
  box-sizing: border-box;

  background-color: var(--dark);
}

#acceptConfirmationButton {
  background-color: green;
  font-size: large;
  width: 10%;
  border-radius: var(--button-corner-radius);
}

#rejectConfirmationButton {
  background-color: red;
  width: 10%;
  font-size: large;
  border-radius: var(--button-corner-radius);
}
